.App {
  text-align: center;
}

.app-container {
  display: flex;
  height: 100vh; /* Make sure the container takes full page height */
}

/* Main content styles */
.main-content {
  flex: 1; /* Take up remaining space */
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: .5rem;
}

.main-content1{
  display: flex;
  height: 100%;
  border: 2px solid #e5e7eb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  justify-content: center;
}
